.flex-container{
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
.flex-item{
  background: blue;
  color: white;
  height: 50px;
  width: 50px;
  margin: 5px;
  line-height: 50px;
  text-align: center;
}
.row{
  flex-direction: row;
  background-color: yellow;
}
.row-reverse{
  flex-direction: row-reverse;
  background-color: blue;
}
.row-reverse li{
  
  background: gray;
}
.column {
  float: left;
  flex-direction: column;
  background-color: yellow;
}
.column li{
  
  background: green;
}
.column-reverse{
  flex-direction: column-reverse;
  background-color: black;
}
.column-reverse li{
  
  background: red;
}